<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord = "SEQNO" converterClass = "cn.com.bob.learn.base.logback.converter.SeqNoConverter"/>
    <springProperty scope="context" name="logPathApplication" source="logfile.path.application"/>
    <springProperty scope="context" name="logPathRuntime" source="logfile.path.runtime"/>
    <springProperty scope="context" name="logbackApplicationLevel" source="logback.loglevel.application"/>
    <springProperty scope="context" name="logbackRuntimeLevel" source="logback.loglevel.runtime"/>
    <springProperty scope="context" name="systemId" source="bob.application.systemId"/>

    <!-- 控制台的日志输出样式 -->
    <!-- %X{seqNo} 为使用 MDC 机制 -->
    <!-- %SEQNO 为使用 ClassicConverter 机制 -->
    <property name="CONSOLE_LOG_PATTERN"
              value="[%d{yyy-MM-dd HH:mm:ss.SSS}][%-5level][${systemId}][%X{seqNo}][%c.%M:%L][%t] - %m%n"/>
              <!--value="[%d{yyy-MM-dd HH:mm:ss.SSS}][%-5level][${systemId}][%SEQNO][%c.%M:%L][%t] - %m%n"/>-->

    <!-- 控制台Appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${logbackApplicationLevel}</level>
        </filter>
        <!--<encoder>
            <pattern>%d{yyy-MM-dd HH:mm:ss.SSS} [%thread] ${systemId} %-5level %logger{50} -%msg%n</pattern>
        </encoder>-->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>utf8</charset>
        </encoder>
        <!--<layout class="MaskingPatternLayout">-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>


    <!-- 运行日志 -->
    <appender name="runtimefile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>utf8</charset>
        </encoder>
        <!--<layout class="MaskingPatternLayout">-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPathRuntime}/%d{yyyyMMdd}/${systemId}_%d{yyyyMMdd}_%i.log</FileNamePattern>
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>


    <!-- 应用日志 -->
    <appender name="applicationfile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>  <!-- 支持多JVM同时操作同一个日志文件 -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <charset>utf8</charset>
        </encoder>
        <!--<layout class="cn.com.zybank.udp.base.security.sensitinfo.MaskingPatternLayout">-->
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logPathApplication}/%d{yyyyMMdd}/${systemId}_%d{yyyyMMddHH}_%i.log</FileNamePattern>
            <maxHistory>90</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>20MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    <!-- ${logbackRuntimeLevel} 未注释 以后则需要改为 WARN -->
    <logger name="com.netflix" level="${logbackRuntimeLevel}">
        <appender-ref ref="runtimefile"/>
        <appender-ref ref="applicationfile"/>
    </logger>

    <logger name="cn.com.bob" level="${logbackApplicationLevel}">
        <appender-ref ref="applicationfile"/>
    </logger>

    <logger name="io.undertow" level="${logbackRuntimeLevel}">
        <appender-ref ref="runtimefile"/>
    </logger>

    <logger name="org.apache" level="${logbackRuntimeLevel}">
        <appender-ref ref="runtimefile"/>
    </logger>

    <logger name="org.mybatis" level="${logbackRuntimeLevel}">
        <appender-ref ref="applicationfile"/>
    </logger>

    <logger name="org.springframework" level="${logbackRuntimeLevel}">
        <appender-ref ref="applicationfile"/>
        <appender-ref ref="runtimefile"/>
    </logger>

    <logger name="javax.activation" level="${logbackRuntimeLevel}"/>
    <logger name="javax.mail" level="${logbackRuntimeLevel}"/>
    <logger name="javax.xml.bind" level="${logbackRuntimeLevel}"/>
    <logger name="ch.qos.logback" level="${logbackRuntimeLevel}"/>
    <logger name="com.codahale.metrics" level="${logbackRuntimeLevel}"/>
    <logger name="com.ryantenney" level="${logbackRuntimeLevel}"/>
    <logger name="com.sun" level="${logbackRuntimeLevel}"/>
    <logger name="com.zaxxer" level="${logbackRuntimeLevel}"/>
    <logger name="org.bson" level="${logbackRuntimeLevel}"/>
    <logger name="com.ulisesbocchio.jasyptspringboot" level="${logbackRuntimeLevel}"/>
    <logger name="io.lettuce.core" level="${logbackRuntimeLevel}"/>
    <logger name="org.hibernate.validator" level="${logbackRuntimeLevel}"/>
    <logger name="org.thymeleaf" level="${logbackRuntimeLevel}"/>
    <logger name="org.xnio" level="${logbackRuntimeLevel}"/>
    <logger name="sun.rmi" level="${logbackRuntimeLevel}"/>
    <!-- info -->
    <logger name="sun.net.www" level="${logbackRuntimeLevel}"/>
    <logger name="sun.rmi.transport" level="${logbackRuntimeLevel}"/>
    <logger name="co.elastic.apm.shaded.stagemonitor.configuration.source.PropertyFileConfigurationSource" level="OFF"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>


    <!-- 默认日志输出为控制台和ES -->
    <root level="${logbackApplicationLevel}">
        <appender-ref ref="console"/>
    </root>
</configuration>