#========================================================================================================================
# 日志信息配置
#========================================================================================================================
logfile:
  path:
    application: logs/bob-learn
    runtime: logs/svrlogs
logback:
  loglevel:   # 日志级别 error warn info debug all
    application: debug
    runtime: info
#========================================================================================================================
# 数据库连接池信息配置
#========================================================================================================================
#---------------oracle--------------
#spring:
#  datasource:
#    type: com.zaxxer.hikari.HikariDataSource
#    url: jdbc:oracle:thin:@10.102.21.95:1521:iasdb # 数据库连接地址
#    username: QUM # 账号
#    password: NxYg+12c # 密码
#    hikari:
#      minimum-idle: 2 # 池中维护的最小空闲连接数
#      maximum-pool-size: 10 # 最大连接数，默认为10
#      idle-timeout: 600000 # 空闲连接存活最大时间，默认 10分钟（600000）
#      connection-timeout: 30000 # 数据库连接超时时间，默认 30秒，即 30000
#      data-source-properties:
#        cachePrepStmts: true
#        prepStmtCacheSize: 250
#        prepStmtCacheSqlLimit: 2048
#        useServerPrepStmts: true
#----------------mysql----------------
spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/test?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8&useSSL=true
    username: dcits
    password: dcits
    hikari:
          minimum-idle: 2 # 池中维护的最小空闲连接数
          maximumPoolSize: 15 #连接池中允许的最大连接数。缺省值：10；推荐的公式：((core_count * 2) + effective_spindle_count)
          idle-timeout: 600000 # 空闲连接存活最大时间，默认 10分钟（600000）
          connection-timeout: 30000 # 数据库连接超时时间，默认 30秒，即 30000
          maxLifetime: 1800000 #一个连接的生命时长（毫秒），超时而且没被使用则被释放（retired），缺省:30分钟，建议设置比数据库超时时长少30秒以上


